@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --dark: #0a0a0a;
  --light: #ededed;
  --light-hover: #ededede6;

  --bg-gray-1: #212121;
  --bg-gray-2: #171717;
  --bg-gray-3: #2f2f2f;
  --bg-gray-4: #424242;
  --bg-gray-5: #323232D9;
  --bg-gray-6: #26262a;
  --bg-gray-6-hover: #26262a80;
  --cotton: #ECECEC;
  --muted: #A1A1AA;
  --warning: #b91c1c;
  --warning2: #f93a37;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #0a0a0a;
    --light: #ededed;
    --light-hover: #ededede6;

    --bg-gray-1: #212121;
    --bg-gray-2: #171717;
    --bg-gray-3: #2f2f2f;
    --bg-gray-4: #424242;
    --bg-gray-5: #323232D9;
    --bg-gray-6: #26262a;
    --bg-gray-6-hover: #26262a80;
    --cotton: #ECECEC;
    --muted: #A1A1AA;
    --warning: #b91c1c;
    --warning2: #f93a37;
  }
}

body {
  color: var(--light);
  background: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scrollbar-width: thin; */
  scrollbar-color: var(--muted) transparent;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}